*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /*=======VARIABLES=========*/

    :root{
        --color-fondo: #313e51;
        --color-pregunta:#bdd72d;
        --color-fondo-opcion: #3c4c67;
        --color-opcion: #c5bfbf;
        --color-opcion-hover:#000;

        --tamaño-pregunta: 2rem;
        --tamaño-opcion: 1.8rem;

    }

    /*fuentes*/
    @font-face{
        font-family: 'Departure Mono';
        src: url('./assets/fonts/DepartureMono-Regular.otf');
    }

    body{
        background-color: var(--color-fondo);
        font-family: 'Departure Mono';
        color: #fff;
    }

        
    .contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pregunta{
        color: var(--color-pregunta);
        font-size: var(--tamaño-pregunta);
        margin: 8px 8px 32px;
    }
    

    .opcion{
        background-color: var(--color-fondo-opcion);
        color: var(--color-opcion);
        margin: 8px;
        padding: 4px;
        font-size: var(--tamaño-opcion);
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
    }
    .opcion:hover{
        background-color: var(--color-pregunta);
        color: var(--color-opcion-hover);
    }

    .correcta::after{
        content: '✅';
        margin-left: 16px;
    }

    .incorrecta::after{
        content: '❎';
        margin-left: 16px;
    }

    @keyframes parpadeo{
        0% {opacity: 1;}
        50% {opacity: 0;}
        100% {opacity: 1;}
    }

    .correcta, .incorrecta{
        animation: parpadeo 0.3s ease-in-out 1;
    }

    .total{
        color:  var(--color-opcion);
        text-align: center;
        margin: 8px 8px 32px;
        font-size: var(--tamaño-opcion);
    }

    .contenedor-boton{
        text-align: center;        
    }

    #reiniciarBtn{
    background-color: var(--color-pregunta);
    padding: 4px 8px;
    border-radius: 8px;
    cursor: pointer;
    font-size: var(--tamaño-pregunta);
}

#reiniciarBtn:hover{
    border: 1px solid var(--color-pregunta);
    background-color: var(--color-fondo);
    color: var(--color-pregunta);
}